<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    .son-component {
      border: 1px dashed #ccc;
      padding: 20px;
      background: gray;
    }
  </style>
</head>

<body>
  <div id="app">
    <son-input v-model="one" value='传入一个固定的字符串'></son-input>
    <son-2-input v-model='two' value='hi 你好'></son-2-input>
    <div>
      two--> {{two}}
    </div>
    <div>
      <ul>
        <li>下面通过自定义组件，子组件修改父组件的内容，下面的 one，随着子组件son-input 值的变动而变动</li>
        <li>说明通讯成功，父组件还是通过 props，从上往下传递数据，只不过 指定的属性是固定的字段 value</li>
        <li>如果子组件不是checkbox 或者radio 不需要使用value这个属性从上往下传参，就不用指定model配置项</li>
      </ul>
    </div>
    <div>
      绑定one--<textarea v-model="one" cols="30" rows="10"></textarea>
      <div>{{one}}</div>
    </div>
    <div>
      <div>
        1、 在更改 textarea中的值，为什么没有响应到自定义 input 中，因为，我们并没有去调用自定义组件，所以，值没有反应上去，但是one这个响应属性值已经变了
      </div>
      <div> 2、 更改input中的值，会通过事件，与父组件通讯，改变父组件的数据</div>
    </div>
  </div>

  <template id='blog'>
    <div class='son-component'>
      <h3>自定义组件-子组件</h3>
      <input type="text" :value='value' @input="$emit('input', $event.target.value)">
    </div>
  </template>

  <template id='son2'>
    <div class='son-component'>
      <h3>自定义组件-子组件--checkbox</h3>
      <input type="checkbox" :checked='checked' @change='$emit("change", $event.target.checked)'>
    </div>
  </template>
  <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
  <script>
    Vue.component("son-input", {
      template: '#blog',
      props: ["value"],
    })

    Vue.component('son-2-input', {
      template: '#son2',
      model: {
        prop: 'checked',
        event: 'change'
      },
      props: {
        value: String,
        checked: {
          type: Boolean
        }
      },
      mounted() {
        console.log(this.value);
        console.log(this.checked);
      }
    })

    let vm = new Vue({
      el: '#app',
      data() {
        return {
          one: '',
          two: true
        }
      }
    })
  </script>

</body>

</html>