html, body
    margin 0
    padding 0
    width 100%
    height 100%

body 
    background-image url('../images/background-image-output.jpg')
    background-repeat no-repeat
    background-size cover
    font-size 14px
    font-weith 500
    color #333