<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>todoList</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<div id="app">
		<div>
			<input type="text" v-model="todo">
			<button @click='submit'>提交</button>
		</div>
		<div>
			<ul>
				<todo-item v-for="(item, index) in list" :key="index" :content="item" @click='remove'></todo-item>
			</ul>
		</div>
	</div>
	<script type="text/javascript">
		Vue.component("todo-item",{
			template: `
				<li>{{content}}--<button @click="del(content)">移除</button></li>
			`,
			props: ['content'],
			methods: {
				del() {
					this.$emit('remove', this.content)
				}
			}
		})

		new Vue({
			el: "#app",
			data() {
				return {
					todo: '',
					list: []
				}
			},
			methods: {
				submit() {
					if(this.todo === "") return 
					this.list.unshift(this.todo)
					this.todo = ""
				},
				remove(val) {
					//this.list = this.list.filter((item)=> item != val)
				}
			}
		})
	</script>
</body>
</html>