<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div id="app">
		<router-link to='/user'>用户列表</router-link>
		<router-link to="/article">文章列表</router-link>
		<router-link to='/books'>书单</router-link>

		<router-view></router-view>
	</div>
</body>
<script src="lib/vue.js"></script>
<script src="lib/vue-router.js"></script>
<script>
	const user = {
		template: `
			<div>
				<ul>
					<li v-for="(user,index) in users" :key="index">{{user.name}} --- {{user.age}}</li>
				</ul>
				<h3>
					显示路由参数
					{{$route.params.id}}
				</h3>
			</div>
		`,
		data() {
			return {
				users: [
					{name: "张三",age: 12},
					{name: "露露",age: 25},
					{name: "杜建",age: 19},
					{name: "王敏",age: 15}
				]
			}
		},
		watch: {
			'$route'(to,from) {
				console.log("---------------------");
				console.log(to);
				console.log(from);
				console.log("---------------------");
			}
		}
	}

	const article = {
		template: `
			<div>
				文章
			</div>
		`
	}

	const books = {
		template: `
			<div>
				书单
				<ul>
					<li v-for="(val, key, index) in list" :key="index">
						{{key}}--{{val}}
					</li>
				</ul>

			</div>
		`,
		computed: {
			list() {
				let obj = this.$route;
				return {
					name: obj.name,
					hash: obj.hash,
					params: obj.params.ISN,
					path: obj.path,
					fullPath: obj.fullPath
				}
			}
		}

	}

	const routes  = [
		{
			// 动态参数后面添加 ? 表示这个参数可有可无
			path: '/user/:id?',
			name: "用户列表",
			component: user
		},
		{
			path: '/article',
			name: "文章",
			component: article
		},
		{
			// books/ 下面必须是一个或者多个数子，且参数是必传的
			path: '/books/:ISN(\\d+)',
			name: "书单",
			component: books
		}
	]

	const router = new VueRouter({
		routes 
	})

	new Vue({
		router,
		updated() {
			console.log(this.$route);
		}
	}).$mount("#app")

</script>
</html>